<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Gen</title>
</head>
<body bgcolor="skyblue">
<center>
<table cellpadding="25" cellspacing="0" border="15">
<tr>
<td>
<h2>Shadow Dawg Password Generator!!</h2>
    <form method="POST">
        <label for="letters">How many letters do you want?</label><br>
        <input type="number" name="letters" required><br><br>

        <label for="symbols">How many symbols do you want?</label><br>
        <input type="number" name="symbols" required><br><br>

        <label for="numbers">How many numbers do you want?</label><br>
        <input type="number" name="numbers" required><br><br>

        <input type="submit" value="Generate Password">
     </form>
     <h3>Your New Password: {{ password }}</h3>
    </td>
</tr>
</table>
</center>
</body>
</html>


